env:
  global:
    - secure: UyrSpEGVlDWJlyn4DEVdL5YTff+53EH+FtUGid61ohV/XJV3tBICYlBMETgE2ctGZntBoOFBnmJ+pLdmxVzhty3/JE2sbQ+k30nqoRP1lHsPCfu9RExZodoQ3cAZ1q3tik9W5hCE9laR8pvD/25o1jeO2jgP8yCQmYNmwWIfcr/qMtItvNqVFAYyTeoZbLJaEEDh5a5YIMo51xWP/NGuXswaPuFHOK0xasopbF5xrOTLMibCOBs793+Rzvg+N81z1r3t+hLobymS1M2AuZfgDnRhkLnsj/kY0dqkvKoNV9f3GSUxtkH6b8QSClwU0Hhl19K13OJnVUNSJm6g6NX7Fa2sPP/o/GhUPQA9nHZMu+OvK7IGRmZ7ArgQo6G7ZD+LFiSV94H+lEFwyibndVOk1Hj5vLjRQT3vTSSQPs6y/PLQYCi0wiSlcX6LH/aQLTIBD2f0nOXM78f4gAZS3CBZLwjdt3n4nWf+GfdmK7Y96FFQ7k3BCYp0AISUNFZMO5tp1p8SEONX6zjvGopSDuc9/O3tbHOXCOVwyEYzoAoneVXxxh8x5Ma8IZOu/aHLpqdYl0gbN/YRPThuluVSGxDYgZ3bKTk3gOwHpeH42T7tgpNYo0S7TR4vvoG+hIR+4S0sUr2LF+FslDRk6CPEcDr27HjzfUhMXRPuZyuOWNR9o7A=
    - RUST_BACKTRACE=1

os:
  - linux
  - osx

language: rust

rust:
  - stable
  - nightly

sudo: false

cache:
  cargo: true

before_script:
  - if [[ $TRAVIS_RUST_VERSION = nightly && $TRAVIS_OS_NAME == linux ]]; then cargo install clippy -f; fi

script:
  - cargo test --release
  - if [[ $TRAVIS_RUST_VERSION = nightly && $TRAVIS_OS_NAME == linux ]]; then
      (
        set -x;
        cargo clippy --all-targets
      );
    fi
  - if [[ $TRAVIS_RUST_VERSION = nightly ]]; then
      (
        set -x;
        cargo bench
      );
    fi
